<%- include('../partials/header') %>

          <h1>Mongoose flights</h1>
    <h2>flights List</h2>

    <tr>
            <th>Airline</th>
            <th>Flight Number</th>
            <th>Departs</th>
        </tr>
        <br>
    </thead>
    <tbody>
      <% flights.forEach(function(f, i) { %>
          <tr><br>
              <td><%= f.airline %></td>
              <td><%= f.flightnumb %></td>
              <% if (new Date()> f.departs ) {%>
                  <td style="color:red"><%= f.departs %></td>
              <% } else { %>
                  <td><%= f.departs %></td>
              <% } %>
             <br> <td><a href="/flights/<%=f._id %>"> details</a></td><br>
          </tr>
      <% }); %>
    </tbody>
       
</table>



  <%- include('../partials/footer') %>
